.pelicula{
position: relative;
margin: auto;
width: 200px;
height: 300px;
}


img{ height: 300px;
    width: 300px;
}

.fila{
    display:flex;
    margin-bottom: 5%;
}
body{background-color: black;

}


h1{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}