.titulo{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(0, 0, 0);
    }
    
.contenedor{ background-color: rgb(31, 163, 152);
    margin: 160px;
    height: 200px;
    border-radius: 10px;                           ;
    padding: 50px;
    width: 40%;
}

